
// ===================
// landing
// ===================
#landing {
  height: calc(100vh - 67px) !important;

  img {
    max-width: 350px;

    @include media-md {
      max-width: none;
    }
  }
  .split {
    padding: 0 4rem;
  }

}
#featured {
  height: 100%;

  @include media-md {
    height: 40vh;
  }
}

#components {
  flex-flow: row wrap;
  justify-content: space-around;

  a {
    margin: 1rem .5rem;
  }
}



